/* -- fonts -- */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

/* -- nav bar -- */

.bg-muse {

    background-color: rgb(53, 53, 53);

}

.navbar-nav .nav-item .nav-link {

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;

}

.navbar-dark .navbar-nav .nav-link {

    color: white;

}

/* -- Main image -- */

html, body {

    overflow-x: hidden;

}

.main-image {

    height: 100vh;

   background: url('../images/muse-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.opaque-overlay {

    position: absolute;
    top: 50;
    left: 50;
    height: 100%;
    width: 100%;
   
}

.container-fluid {
    padding: 0;
    margin: 0;
}

/* -- callout -- */

.jumbotron {

    background-color: rgba(0, 0, 0, 0.75);
}

.jumbotron-header {

    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {

    font-family: 'IBM Plex Sans', sans-serif;
    margin: 25px 0;
    color: white;
}



/* -- footer -- */

.social-networks{

    text-align: center;
    padding: 0;
    margin: 0;

}

.social-networks li {

    display:inline;

}

.social-networks i {

    font-size: 180%;
    padding: 2%;
    color: #979797;

}

.social-networks i:hover {

    color: White;
    
}

/* -- about -- */

.bg-black {

    background-color: black;
}

.heading {

    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;

}

.text-block {

    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.card-deck {

    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;

}

/* -- gallery -- */

.title-media {

    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    padding: 20px;

}

.video-player {

    padding: 30px;

}

.media-player {

    margin-top: 20px;
    margin-bottom: 20px;

}

.pictures {

    padding: 20px;
    padding-bottom: 40px;

}