/* -- fonts -- */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

/* -- nav bar -- */

.bg-muse {

    background-color: rgb(53, 53, 53);
}

.navbar-nav .nav-item .nav-link {

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;

}

.navbar-dark .navbar-nav .nav-link {

    color: white;

}

/* -- footer */

.social-networks{

    text-align: center;

}

.social-networks li {

    display:inline;

}

.social-networks i {

    font-size: 180%;
    margin: 1%;
    padding: 3%;
    color: #979797;

}

.social-networks i:hover {

    color: White;
    
}